
html{
    scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color:#232f3e ;
    color: white !important;
}

// section{
//     scroll-snap-align: center !important;
// }